.media {
  height: 45px;
}
.add-title {
  display: flex;
  height: 50px;
}

.titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  display: flex;
  flex: 1 250px;
  height: 50px;
  margin: 10px 15px 10px 0;
}
  .title button {
    margin-left: 50%;
  }
