.app {
  text-align: center;
  background: linear-gradient(to bottom right,#d0acb2,34%,#cd7c57);
  height: 100vh;
  color: #575757;
}

.media-types {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto 15%;
}

.selected-media {
  margin: 50px auto;
  width: 65%;
  text-align: left;
}